.row3 {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    .r3-friend {
        background-color: #ECECF0;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        width: 25%;
        border-radius: 20px;
        box-shadow: 5px 5px 5px 0 rgb(214, 214, 214);
        margin-top: 15px;
        
        .r3b1-top {
            display: flex;
            justify-content: space-evenly;
            padding: 10px;
    
            .r3b1-words {
                flex: 1;
    
                .r3b1-header {
                    font-size: 20px;
                    font-weight: bold;
                }
    
                .r3b1-text {
                    color: gray;
                    margin-right: 30px;
                }
            }
    
            .r3b1threedots {
                display: flex;
                flex-direction: column;
                margin-top: 20px;
            }

            .r3b1-icon {
                background-color: #6e6e6e;
                border-radius: 50%;
                width: 5px;
                height: 5px;
                padding: -2px;
                cursor: pointer;
                
                margin-top: 5px;

            }
        }

        .r3b1-account {
            .r3b1-account-panel {
                display:flex;
                justify-content: space-between;
                .r3b1-theleft {
                    display:flex;
                    .r3b1-pfp {
                        .imageicon {
                            border-radius: 50%;
                            background-color: rgb(255, 166, 0);
                            width: 45px;
                            height: 45px;
                            border-style: solid;
                            border-color: white;
                        }
                    }
                    .r3b1-acc-words {
                        .r3b1-acc-header {
        
                        }
                        .r3b1-acc-text {
        
                        }
        
                    }     
                }

                .r3b1-theright {
                    .purplecheckmark {
                        .purpcircle {
                            border-radius: 50%;
                            background-color: rgb(255, 166, 0);
                            width: 45px;
                            height: 45px;
                            border-style: solid;
                            border-color: white;
                        }
                    }
                } 
                
            }
                }

            }
            
            .recentfriend {
                .rf-wording {
                    display:flex;
                    justify-content: space-between;
                    padding: 0px 50px;
                    .rf-text {
                        font-size: 18px;
                        font-weight: 600;
                    }
                    .seemore {
                        margin-top: 25px;
                        font-size: 14px;
                        color: rgb(173, 38, 252);
                    }
                }
                .friendpfps {
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    margin-top: -10px;
                    margin-bottom: 10px;
                    .account1 {
                        border-radius: 50%;
                        background-color: rgb(0, 183, 255);
                        width: 45px;
                        height: 45px;
                        border-style: solid;
                        border-color: white;
                    }
                    .account2 {
                        border-radius: 50%;
                        background-color: rgb(255, 166, 0);
                        width: 45px;
                        height: 45px;
                        border-style: solid;
                        border-color: white;
                    }
                    .account3 {
                        border-radius: 50%;
                        background-color: rgb(0, 255, 136);
                        width: 45px;
                        height: 45px;
                        border-style: solid;
                        border-color: white;
                    }
                    .account4 {
                        border-radius: 50%;
                        background-color: rgb(0, 217, 255);
                        width: 45px;
                        height: 45px;
                        border-style: solid;
                        border-color: white;
                    }
                    .account5 {
                        border-radius: 50%;
                        background-color: rgb(234, 0, 255);
                        width: 45px;
                        height: 45px;
                        border-style: solid;
                        border-color: white;
                    }
                    .account6 {
                        border-radius: 50%;
                        background-color: rgb(255, 0, 0);
                        width: 45px;
                        height: 45px;
                        border-style: solid;
                        border-color: white;
                    }
                }
            }
        }
    }
    }

    .r3-friend, .r3b2-spending, .r3-transaction {
        background-color: #ECECF0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        width: 25%;
        border-radius: 20px;
        box-shadow: 5px 5px 5px 0 rgb(214, 214, 214);
        margin-top: 15px;
        }

        .r3b2-spending {
            background-color: #ECECF0;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: space-between;
            align-items: center;
            width: 25%;
            border-radius: 20px;
            box-shadow: 5px 5px 5px 0 rgb(214, 214, 214);
            margin-top: 15px;
        
            .r3b2-top {
                display: flex;
                justify-content: space-between;
                padding: 10px;
        
                .r3b2-words {
                    flex: 1;
        
                    .r3b2-header {
                        font-size: 20px;
                        font-weight: bold;
                    }
        
                    .r3b2-text {
                        color: gray;
                        margin-right: 30px;
                    }
                }
        
                .r3b2threedots {
                    display: flex;
                    flex-direction: column;
                    margin-top: 20px;
                }

                .r3b2-icon {
                    background-color: #6e6e6e;
                    border-radius: 50%;
                    width: 5px;
                    height: 5px;
                    padding: -2px;
                    cursor: pointer;
                    
                    margin-top: 5px;

                }
            }
        
            .r3b2-progress {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 10px;
        
                .r3b2-progress1,
                .r3b2-progress2,
                .r3b2-progress3 {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
        
                    progress {
                        width: 70%;
                        margin-right: 10px;
                    }
        
                    .r3b2p1-text,
                    .r3b2p2-text,
                    .r3b2p3-text {
                        flex: 1;
        
                        .progressText-r3b2p1,
                        .progressText-r3b2p2,
                        .progressText-r3b2p3 {
                            font-weight: bold;
                        }
        
                        .r3b2p1-value,
                        .r3b2p2-value,
                        .r3b2p3-value {
                            color: gray;
                        }
                    }
                }
            }
        }
        

    .r3-transaction {
        width: 45%;
    }