// This File Is Edited By Ethan

// Vars
$mypurple: rgb(74, 5, 74);
$mypink: rgb(229, 106, 126);
$row1width: 20%;
$row1height: 100px;
$bannerIconSize: 40px;


// Css
.mainbody {
    padding: 25px 25px;
}
