.row1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.row1card1 {
  background-image: linear-gradient(to right, #9331E4, #6007E3);
  color: white;
  width: 20%;
  height: 100px;
  border-radius: 20px;
}

.r1c1-icon {
  width: 15px;
  height: 15px;
  background-color: #C4AAE4;
}

.row2card2 {
  background-image: linear-gradient(to right, red, yellow);
  color: white;
  width: 20%;
  height: 100px;
  border-radius: 20px;
}

.row3card3 {
  background-image: linear-gradient(to right, red, yellow);
  color: white;
  width: 20%;
  height: 100px;
  border-radius: 20px;
}

.row4card4 {
  background-image: linear-gradient(to right, red, yellow);
  color: white;
  width: 20%;
  height: 100px;
  border-radius: 20px;
}

.dashboard {
  padding: 10px;
  background-color: rgb(238, 238, 238);
  border-radius: 15px;
  box-shadow: 5px 5px rgb(214, 214, 214);
}
.dashboard .dashtop {
  margin: -10px -10px 10px -10px;
  display: flex;
  width: 200px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 5px rgb(221, 221, 221);
}
.dashboard .dashtop .dt-header {
  font-weight: 600;
  padding: 0px 40px 0px 20px;
  font-size: 36;
}
.dashboard .dashtop .topimg {
  width: 36px;
  height: 36px;
  transform: translateY(16px);
}
.dashboard .dashboardpage .dashimg {
  color: rgb(0, 0, 0);
}
.dashboard .dashboardpage .dashboardbutton {
  background-color: rgb(238, 238, 238);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  font-size: 20px;
}
.dashboard .Appspage .appsimg {
  color: rgb(0, 0, 0);
}
.dashboard .Appspage .dashboardbutton {
  background-color: rgb(238, 238, 238);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  font-size: 20px;
}
.dashboard .chartspage .chartsimg {
  color: rgb(0, 0, 0);
}
.dashboard .chartspage .dashboardbutton {
  background-color: rgb(238, 238, 238);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  font-size: 20px;
}
.dashboard .bootstrappage .bootimg {
  color: rgb(0, 0, 0);
}
.dashboard .bootstrappage .dashboardbutton {
  background-color: rgb(238, 238, 238);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  font-size: 20px;
}
.dashboard .pluginspage .pluginsimg {
  color: rgb(0, 0, 0);
}
.dashboard .pluginspage .dashboardbutton {
  background-color: rgb(238, 238, 238);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  font-size: 20px;
}
.dashboard .widgetpage .widgetimg {
  color: rgb(0, 0, 0);
}
.dashboard .widgetpage .dashboardbutton {
  background-color: rgb(238, 238, 238);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  font-size: 20px;
}
.dashboard .formspage .formsimg {
  color: rgb(0, 0, 0);
}
.dashboard .formspage .dashboardbutton {
  background-color: rgb(238, 238, 238);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  font-size: 20px;
}
.dashboard .tablepage .tableimg {
  color: rgb(0, 0, 0);
}
.dashboard .tablepage .dashboardbutton {
  background-color: rgb(238, 238, 238);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  font-size: 20px;
}
.dashboard .pagespage .pagesimg {
  color: rgb(0, 0, 0);
}
.dashboard .pagespage .dashboardbutton {
  background-color: rgb(238, 238, 238);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  font-size: 20px;
}

header {
  display: flex;
  background-color: blue;
  justify-content: space-between;
}
header .leftheader .logo {
  font-size: 50px;
}
header .centerheader .search {
  outline: auto;
}
body {
  display: flex;
}/*# sourceMappingURL=style.css.map */