@use 'body';
@use 'bodyR1';
@use 'bodyR2';
@use 'bodyR3';
@use 'dashboard';
@use 'header';

.everything {
    width: 100%; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}
