.mainbody {
  padding: 25px 25px;
}

.row1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.row1card1 {
  background-image: linear-gradient(to right, #9331E4, #6007E3);
  color: white;
  width: 20%;
  height: 100px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.r1c1-icon {
  width: 40px;
  height: 40px;
  background-color: #C4AAE4;
  margin-left: 20px;
  margin-bottom: 10px;
  border-radius: 45px;
}

.r1c1-icon i {
  color: white;
  margin-left: 30%;
  margin-top: 30%;
  width: 22px;
  height: 22px;
}

.cardnumber {
  margin-left: 16px;
  margin-bottom: 50px;
}

.r1text {
  margin-top: 40px;
  margin-left: 75px;
  position: absolute;
}

.row2card2 {
  background-image: linear-gradient(to right, #9600FD, #E00BFC);
  color: white;
  width: 20%;
  height: 100px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.r1c2-icon {
  width: 40px;
  height: 40px;
  background-color: #C4AAE4;
  margin-left: 20px;
  margin-bottom: 10px;
  border-radius: 45px;
}

.r1c2-icon i {
  color: white;
  margin-left: 30%;
  margin-top: 30%;
  width: 22px;
  height: 22px;
}

.cardnumber {
  margin-left: 16px;
  margin-bottom: 50px;
}

.r1text {
  margin-top: 40px;
  margin-left: 75px;
  position: absolute;
}

.row3card3 {
  background-image: linear-gradient(to right, #9430E5, #5B05E3);
  color: white;
  width: 20%;
  height: 100px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.r1c3-icon {
  width: 40px;
  height: 40px;
  background-color: #C4AAE4;
  margin-left: 20px;
  margin-bottom: 10px;
  border-radius: 45px;
}

.r1c3-icon i {
  color: white;
  margin-left: 30%;
  margin-top: 30%;
  width: 22px;
  height: 22px;
}

.cardnumber {
  margin-left: 16px;
  margin-bottom: 50px;
}

.r1text {
  margin-top: 40px;
  margin-left: 75px;
  position: absolute;
}

.row4card4 {
  background-image: linear-gradient(to right, #ED04CB, #4734A0);
  color: white;
  width: 20%;
  height: 100px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.r1c4-icon {
  width: 40px;
  height: 40px;
  background-color: #C4AAE4;
  margin-left: 20px;
  margin-bottom: 10px;
  border-radius: 45px;
}

.r1c4-icon i {
  color: white;
  margin-left: 30%;
  margin-top: 30%;
  width: 22px;
  height: 22px;
}

.cardnumber {
  margin-left: 16px;
  margin-bottom: 50px;
}

.r1text {
  margin-top: 40px;
  margin-left: 75px;
  position: absolute;
}

.row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.r2-leftcard {
  background-color: #ECECF0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 68%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 0 rgb(255, 255, 255);
  margin-top: 15px;
}

.theleftcard {
  background-image: linear-gradient(to right, #9430E4, #615BE6);
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 225px;
  border-radius: 20px;
  margin: 2.5% 2.5%;
}

.inviscircleicon {
  display: flex;
  /**
  #firstCircle {

  }

  #secondCircle {

  }
  **/
}
.inviscircleicon .inviscircle {
  width: 30px;
  height: 30px;
  background-color: #C4AAE4;
  margin: 0px -6px;
  border-radius: 45px;
}

.r2lc-money {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.r2lc-money .r2money {
  padding: 0px 30px;
  margin-top: 20px;
  /**
  .r2cardnumber{

  } 

  .r2text {

  }

  .r2stext {

  }
  **/
}
.r2lc-money .r2sidebar {
  padding: 0px 30px;
  display: flex;
  align-items: center;
}
.r2lc-money .r2sidebar .r2changebtn {
  background-color: white;
  color: #303030;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.r2lc-money .r2sidebar .r2changebtn .reloadicon {
  padding-top: 10px;
}
.r2lc-money .r2sidebar .r2changebtn .changebtn {
  transform: rotate(-90deg);
  padding: 50px 0px;
  margin: 0px;
  font-weight: 550;
  font-size: 18px;
}
.r2lc-money .r2sidebar .r2changebtn .dropdownicon {
  padding-bottom: 10px;
}

.therightcard {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.therightcard .trc-left .trc-list {
  display: flex;
}
.therightcard .trc-left .trc-list .trc-list1 .trc-list-item1 {
  display: flex;
}
.therightcard .trc-left .trc-list .trc-list1 .trc-list-item1 .item1color {
  background-color: rgb(53, 0, 175);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.therightcard .trc-left .trc-list .trc-list1 .trc-list-item2 {
  display: flex;
}
.therightcard .trc-left .trc-list .trc-list1 .trc-list-item2 .item2color {
  background-color: purple;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.therightcard .trc-left .trc-list .trc-list1 .trc-list-item3 {
  display: flex;
}
.therightcard .trc-left .trc-list .trc-list1 .trc-list-item3 .item3color {
  background-color: rgb(4, 165, 240);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.therightcard .trc-left .trc-list .trc-list1 .trc-list-item4 {
  display: flex;
}
.therightcard .trc-left .trc-list .trc-list1 .trc-list-item4 .item4color {
  background-color: rgb(218, 15, 218);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.therightcard .trc-left .trc-list .trc-list1 .trc-item-text {
  font-weight: 600;
  margin-right: 20px;
}
.therightcard .trc-left .trc-list .trc-list2 .trc-item-number {
  color: gray;
  margin-left: 70px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.therightcard .trc-right {
  padding: 2% 20px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.therightcard .trc-right .microsoft-logo .ml-top {
  display: flex;
}
.therightcard .trc-right .microsoft-logo .ml-top .mlt-left .gray {
  background-color: rgb(70, 49, 255);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 5px;
  border-color: white;
}
.therightcard .trc-right .microsoft-logo .ml-top .mlt-right .blue {
  background-color: rgb(152, 62, 255);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 5px;
  border-color: white;
}
.therightcard .trc-right .microsoft-logo .ml-bottom {
  display: flex;
}
.therightcard .trc-right .microsoft-logo .ml-bottom .mlb-left .orange {
  background-color: rgb(208, 54, 255);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 5px;
  border-color: white;
}
.therightcard .trc-right .microsoft-logo .ml-bottom .mlb-right .green {
  background-color: rgb(67, 180, 255);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 5px;
  border-color: white;
}

.r2-rightcard {
  background-color: #ECECF0;
  width: 30%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 0 rgb(214, 214, 214);
  margin-top: 15px;
}
.r2-rightcard .rc-header0 {
  display: flex;
  flex-direction: column;
}
.r2-rightcard .rc-header0 .rc-header1 {
  display: flex;
  justify-content: space-around;
  /**
  .rch1-left {

  }
  **/
}
.r2-rightcard .rc-header0 .rc-header1 .rch1-right {
  display: flex;
}
.r2-rightcard .rc-header0 .rc-header1 .rch1-right .rch1r-text {
  font-weight: 550;
}
.r2-rightcard .rc-header0 .rc-header1 .rch1-right .rch1r-icon {
  background-color: rgb(218, 15, 218);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin-top: 15px;
  margin-left: 10px;
}
.r2-rightcard .rc-header0 .rc-header2 {
  display: flex;
  justify-content: space-around;
  margin-top: -35px;
}
.r2-rightcard .rc-header0 .rc-header2 .rch2-left {
  font-size: 25px;
}
.r2-rightcard .rc-header0 .rc-header2 .rch2-right {
  display: flex;
}
.r2-rightcard .rc-header0 .rc-header2 .rch2-right .rch2r-text {
  font-weight: 550;
}
.r2-rightcard .rc-header0 .rc-header2 .rch2-right .rch2r-icon {
  background-color: rgb(93, 15, 218);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.r2-rightcard .progress1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5px;
  /** Copied Code **/
}
.r2-rightcard .progress1 progress[value] {
  --w: 100%; /* the width*/
  --color: /* the progress color */
    linear-gradient(90deg,#ff61ff,#3b05ff) 0/var(--w);
  --background: lightgrey; /* the background color */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: var(--w);
  margin: 0 10px;
  border-radius: 10em;
  background: var(--background);
}
.r2-rightcard .progress1 progress[value]::-webkit-progress-bar {
  border-radius: 10em;
  background: var(--background);
}
.r2-rightcard .progress1 progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: var(--color);
}
.r2-rightcard .progress1 progress[value]::-moz-progress-bar {
  border-radius: 10em;
  background: var(--color);
}
.r2-rightcard .progress1 label {
  font-size: 20px;
  font-weight: bold;
  display: block;
}
.r2-rightcard .progress1 .r2-progress .r2-progress-value {
  align-content: center;
  margin: 2% -4%;
  width: 350px;
  color: purple;
  background-color: purple;
  border-radius: 15px;
}
.r2-rightcard .progress1 .r2-progress .r2-progtext {
  margin: 5px 10px;
  font-weight: 550;
  color: gray;
}

.row3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.row3 .r3-friend {
  background-color: #ECECF0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 0 rgb(214, 214, 214);
  margin-top: 15px;
}
.row3 .r3-friend .r3b1-top {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.row3 .r3-friend .r3b1-top .r3b1-words {
  flex: 1;
}
.row3 .r3-friend .r3b1-top .r3b1-words .r3b1-header {
  font-size: 20px;
  font-weight: bold;
}
.row3 .r3-friend .r3b1-top .r3b1-words .r3b1-text {
  color: gray;
  margin-right: 30px;
}
.row3 .r3-friend .r3b1-top .r3b1threedots {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.row3 .r3-friend .r3b1-top .r3b1-icon {
  background-color: #6E6E6E;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  padding: -2px;
  cursor: pointer;
  margin-top: 5px;
}
.row3 .r3-friend .r3b1-account .r3b1-account-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #CFC0F0;
  border-radius: 25px;
  width: 350px;
  padding: 0px 10px;
}
.row3 .r3-friend .r3b1-account .r3b1-account-panel .r3b1-theleft {
  display: flex;
}
.row3 .r3-friend .r3b1-account .r3b1-account-panel .r3b1-theleft .r3b1-pfp {
  display: flex;
  margin-right: 20px;
  align-items: center;
}
.row3 .r3-friend .r3b1-account .r3b1-account-panel .r3b1-theleft .r3b1-pfp .imageicon {
  border-radius: 50%;
  background-color: rgb(255, 166, 0);
  width: 45px;
  height: 45px;
  border-style: solid;
  border-color: rgb(255, 166, 0);
}
.row3 .r3-friend .r3b1-account .r3b1-account-panel .r3b1-theleft .r3b1-acc-words {
  margin: 0px;
}
.row3 .r3-friend .r3b1-account .r3b1-account-panel .r3b1-theleft .r3b1-acc-words .r3b1-acc-header {
  margin: -16x 0px;
}
.row3 .r3-friend .r3b1-account .r3b1-account-panel .r3b1-theleft .r3b1-acc-words .r3b1-acc-text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  color: rgb(110, 110, 110);
}
.row3 .r3-friend .r3b1-account .r3b1-account-panel .r3b1-theright .purplecheckmark .purpcircle {
  border-radius: 50%;
  background-color: rgb(162, 0, 255);
  width: 25px;
  height: 25px;
  border-style: solid;
  border-color: rgb(162, 0, 255);
}
.row3 .recentfriend .rf-wording {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
}
.row3 .recentfriend .rf-wording .rf-text {
  font-size: 18px;
  font-weight: 600;
}
.row3 .recentfriend .rf-wording .seemore {
  margin-top: 25px;
  font-size: 14px;
  color: rgb(173, 38, 252);
}
.row3 .recentfriend .friendpfps {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: -10px;
  margin-bottom: 30px;
}
.row3 .recentfriend .friendpfps .account1 {
  border-radius: 50%;
  background-color: rgb(0, 183, 255);
  width: 45px;
  height: 45px;
  border-style: solid;
  border-color: white;
}
.row3 .recentfriend .friendpfps .account2 {
  border-radius: 50%;
  background-color: rgb(255, 166, 0);
  width: 45px;
  height: 45px;
  border-style: solid;
  border-color: white;
}
.row3 .recentfriend .friendpfps .account3 {
  border-radius: 50%;
  background-color: rgb(0, 255, 136);
  width: 45px;
  height: 45px;
  border-style: solid;
  border-color: white;
}
.row3 .recentfriend .friendpfps .account4 {
  border-radius: 50%;
  background-color: rgb(0, 217, 255);
  width: 45px;
  height: 45px;
  border-style: solid;
  border-color: white;
}
.row3 .recentfriend .friendpfps .account5 {
  border-radius: 50%;
  background-color: rgb(234, 0, 255);
  width: 45px;
  height: 45px;
  border-style: solid;
  border-color: white;
}
.row3 .recentfriend .friendpfps .account6 {
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
  width: 45px;
  height: 45px;
  border-style: solid;
  border-color: white;
}

.r3-friend, .r3b2-spending, .r3-transaction {
  background-color: #ECECF0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 0 rgb(214, 214, 214);
  margin-top: 15px;
}

.r3b2-spending {
  /**
  & .r3b2-progress progress {
      align-content: center;
      margin: 2% -4%;
      width: 350px;
      color: purple;
      background-color: purple;
      border-radius: 15px;
  }
  progress[value] {
      --w: 100%; 
      --color:linear-gradient(90deg,#FF61FF,#3B05FF) 0/var(--w);
      --background: lightgrey;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      width: var(--w);
      margin: 0 10px;
      border-radius: 10em;
      background: var(--background);
    }
    progress[value]::-webkit-progress-bar {
      border-radius: 10em;
      background: var(--background);
    }
    progress[value]::-webkit-progress-value {
      border-radius: 10em;
      background: var(--color);
    }
    progress[value]::-moz-progress-bar {
      border-radius: 10em;
      background: var(--color);
    }

    **/
}
.r3b2-spending .r3b2-top {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  margin-left: 15px;
}
.r3b2-spending .r3b2-top .r3b2-words {
  flex: 1;
}
.r3b2-spending .r3b2-top .r3b2-words .r3b2-header {
  font-size: 20px;
  font-weight: bold;
}
.r3b2-spending .r3b2-top .r3b2-words .r3b2-text {
  color: gray;
  margin-right: 30px;
}
.r3b2-spending .r3b2-top .r3b2threedots {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.r3b2-spending .r3b2-top .r3b2-icon {
  background-color: #6E6E6E;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  padding: -2px;
  cursor: pointer;
  margin-top: 5px;
}
.r3b2-spending .r3b2-progress {
  width: 100%;
  padding: 0px 20px;
}
.r3b2-spending .r3b2-progress .r3b2-progress progress {
  align-content: center;
  margin: 2% -4%;
  width: 350px;
  color: purple;
  background-color: purple;
  border-radius: 15px;
}
.r3b2-spending .r3b2-progress progress[value] {
  --w: 100%;
  --color:linear-gradient(90deg,#FF61FF,#3B05FF) 0/var(--w);
  --background: lightgrey;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: var(--w);
  margin: 0px;
  border-radius: 10em;
  background: var(--background);
}
.r3b2-spending .r3b2-progress progress[value]::-webkit-progress-bar {
  border-radius: 10em;
  background: var(--background);
}
.r3b2-spending .r3b2-progress progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: var(--color);
}
.r3b2-spending .r3b2-progress progress[value]::-moz-progress-bar {
  border-radius: 10em;
  background: var(--color);
}
.r3b2-spending .r3b2-progress .r3b2-progress1 .progress-r3b2 {
  width: 100%;
}
.r3b2-spending .r3b2-progress .r3b2-progress1 .r3b2p1-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  font-size: 14px;
  margin-top: -5px;
}
.r3b2-spending .r3b2-progress .r3b2-progress1 .r3b2p1-text .progressText-r3b2p2 {
  font-size: 14px;
  margin-top: -5px;
}
.r3b2-spending .r3b2-progress .r3b2-progress1 .r3b2p1-text .r3b2p1-value {
  color: black;
  font-size: 16px;
}
.r3b2-spending .r3b2-progress .r3b2-progress2 .progress-r3b2 {
  width: 100%;
}
.r3b2-spending .r3b2-progress .r3b2-progress2 .r3b2p2-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  font-size: 14px;
  margin-top: -5px;
}
.r3b2-spending .r3b2-progress .r3b2-progress2 .r3b2p2-text .progressText-r3b2p2 {
  font-size: 14px;
  margin-top: -5px;
}
.r3b2-spending .r3b2-progress .r3b2-progress2 .r3b2p2-text .r3b2p2-value {
  color: black;
  font-size: 16px;
}
.r3b2-spending .r3b2-progress .r3b2-progress3 .progress-r3b2 {
  width: 100%;
}
.r3b2-spending .r3b2-progress .r3b2-progress3 .r3b2p3-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  font-size: 14px;
  margin-top: -5px;
}
.r3b2-spending .r3b2-progress .r3b2-progress3 .r3b2p3-text .progressText-r3b2p2 {
  font-size: 14px;
  margin-top: -5px;
}
.r3b2-spending .r3b2-progress .r3b2-progress3 .r3b2p3-text .r3b2p3-value {
  color: black;
  font-size: 16px;
}

.row3 .r3-transaction {
  width: 45%;
}

/**
- Hover color changes + overlay color to signify button
- Collapsable dashboard
- Final Row 3 Card (just copy row 2)
**/
.dashboard {
  margin-right: 10px;
  padding: 10px;
  background-color: rgb(248, 248, 248);
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgb(214, 214, 214);
}
.dashboard .dashtop {
  margin: -10px -10px 10px -10px;
  display: flex;
  padding: 0px 10px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 5px rgb(221, 221, 221);
}
.dashboard .dashtop .dt-header {
  font-weight: 600;
  padding: 0px 40px 0px 20px;
  font-size: 36;
}
.dashboard .dashtop .topimg {
  width: 36px;
  height: 36px;
  transform: translateY(16px);
}
.dashboard .dashboardpage .dashimg {
  color: rgb(0, 0, 0);
}
.dashboard .dashboardpage .dashboardbutton {
  background-color: rgb(248, 248, 248);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  font-size: 20px;
}
.dashboard .Appspage .appsimg {
  color: rgb(0, 0, 0);
}
.dashboard .Appspage .dashboardbutton {
  background-color: rgb(248, 248, 248);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  font-size: 20px;
}
.dashboard .chartspage .chartsimg {
  color: rgb(0, 0, 0);
}
.dashboard .chartspage .dashboardbutton {
  background-color: rgb(248, 248, 248);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  font-size: 20px;
}
.dashboard .bootstrappage .bootimg {
  color: rgb(0, 0, 0);
}
.dashboard .bootstrappage .dashboardbutton {
  background-color: rgb(248, 248, 248);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  font-size: 20px;
}
.dashboard .pluginspage .pluginsimg {
  color: rgb(0, 0, 0);
}
.dashboard .pluginspage .dashboardbutton {
  background-color: rgb(248, 248, 248);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  font-size: 20px;
}
.dashboard .widgetpage .widgetimg {
  color: rgb(0, 0, 0);
}
.dashboard .widgetpage .dashboardbutton {
  background-color: rgb(248, 248, 248);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  font-size: 20px;
}
.dashboard .formspage .formsimg {
  color: rgb(0, 0, 0);
}
.dashboard .formspage .dashboardbutton {
  background-color: rgb(248, 248, 248);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  font-size: 20px;
}
.dashboard .tablepage .tableimg {
  color: rgb(0, 0, 0);
}
.dashboard .tablepage .dashboardbutton {
  background-color: rgb(248, 248, 248);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  font-size: 20px;
}
.dashboard .pagespage .pagesimg {
  color: rgb(0, 0, 0);
}
.dashboard .pagespage .dashboardbutton {
  background-color: rgb(248, 248, 248);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  font-size: 20px;
}

header {
  display: flex;
  background-color: rg(248, 248, 248);
  justify-content: space-between;
}
header .leftheader {
  width: 40%;
}
header .leftheader .logo {
  font-size: 35px;
  font-weight: 550;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-right: 50px;
}
header .searchheader .search {
  margin-top: 10px;
  margin-right: 45px;
  height: 40px;
  width: 300px;
  border-radius: 25px;
  display: flex;
}
header .searchheader .searchbar {
  padding-left: 20px;
  height: 40px;
  width: 300px;
  border-radius: 10px;
  border: none;
  border-color: white;
  box-shadow: 0px 5px 5px rgb(221, 221, 221);
  color: rgb(0, 162, 255);
  background-color: white;
}
header .rightheader {
  margin-top: 10px;
  margin-right: 20px;
  display: flex;
}
header .rightheader .lightswitcher {
  display: flex;
}
header .rightheader .righticonbuttons {
  display: flex;
  justify-content: space-between;
  width: 130px;
  margin-right: 25px;
  margin-top: 20px;
}
header .rightheader .righticonbuttons .lightswitcher {
  margin-top: 8px;
}
header .rightbutton .therightbutton {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #8a23ff;
  height: 50px;
  width: 200px;
  border: none;
  padding: 0px 20px;
  border-radius: 15px;
  box-shadow: 0px 5px 5px rgb(221, 221, 221);
}
header .rightbutton .therightbutton .r-buttontext {
  font-weight: 550;
  font-size: 15px;
  color: white;
}
header .rightbutton .therightbutton .r-buttonicon {
  padding-top: 17px;
}

.everything {
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}/*# sourceMappingURL=style.css.map */